<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <h2 style="text-align:center">Collections</h2>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbkZpaN84EDHfw6holiUcGeWu21HY7Lbvmpw&usqp=CAU " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Indian Polity</h5>
                          <p class="card-text">M Laxmikanth</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3NwUGyHFZZruk2dX2_xN-yUNbyobFbMnqWQ&usqp=CAU " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Democracy</h5>
                          <p class="card-text">Veena</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                    
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoDXr4is7-bVjWtE-TI4q-l0jHX0SPN4_4Uw&usqp=CAU " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kerala</h5>
                          <p class="card-text">Kelappan</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReoKQkgjNMcMNPrhHre5tUkVm1OmtPrBK8yg&usqp=CAU " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Quantinent</h5>
                          <p class="card-text">M Kumar</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiDW9k5sxWA71wLm9u5_YzlcHMWYqb-h2pTQ&usqp=CAU" class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">War and Love</h5>
                          <p class="card-text">Sreedevi</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://cdn.imgbin.com/7/18/6/imgbin-open-book-bVzt2FPtjW6WkGE0ZeVLSi0t7.jpg " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Venture</h5>
                          <p class="card-text">Anusha</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxgxKOhIJrIXH7dOyAYr71Asy7Kn9uJ1IcvA&usqp=CAU" class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Golden times</h5>
                          <p class="card-text">Sewag</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpD4PoKNbjgVe9mKmf4fC0RaLRBvXhbCSmIg&usqp=CAU " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Idukki diaries</h5>
                          <p class="card-text">Justin</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVfhZmg34u-_3Pf3o_xlmykMdgmdENGFkaTkUpOhK7k1TQUph_BF2nFcck3cvxkaBx46A&usqp=CAU " class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lucifer</h5>
                          <p class="card-text">Pritvi</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-x-3 col-xxl-3">
                    <div class="card text-white bg-secondary mb-3">
                        <img class="rounded-circle mx-auto" width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVfhZmg34u-_3Pf3o_xlmykMdgmdENGFkaTkUpOhK7k1TQUph_BF2nFcck3cvxkaBx46A&usqp=CAU" class="card-img-top " alt="...">
                        <div class="card-body">
                          <h5 class="card-title">London Bridge</h5>
                          <p class="card-text">NeelaKandan</p>
                          <a href="#" class="btn btn-outline-light">View</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
