<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
        
                <div class="card mb-3 bg-secondary" >
                    <div class="row g-0">
                      <div class="col-md-4 text-center mt-5 mx-auto">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk9m535t3EFK3304nQ7CLm6_7QPGzWjrMZrw&usqp=CAU" class="text-ce" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">ISSUE BOOKS</h5>
                          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Book Title</label>
                            <input type="text"  class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Date of Issue</label>
                            <input type="date"  class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Membership No</label>
                            <input type="text"  class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <br>
                            <a href="#" class="btn btn-dark"> Submit</a>
                        </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
        </div>
        </div>
    </div>
