<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Book Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/search">search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/viewall">Collection</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/issue">Issue Book</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/edit">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delete">Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
