<div class="container ">
    <div class="row bg-dark mt-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-white">
                    <h1>Adminstration Login</h1>
 
                 </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-white">
                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-white">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="text" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <button (click)="readValues()" class="btn btn-primary " routerLink="/bookentry">Login</button>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <a routerLink="/registration">New User Registrtion</a>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a routerLink="/userlogin">User Login</a>
 
                 </div>
            </div>
        </div>
    </div>
</div>

